<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental</title>

    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        td{
            padding: 3px;
        }
    </style>
</head>
<body>
<div th:switch="${rent}">
  <h2 th:case="null">No data</h2>
  <div th:case="*">
      <h1 th:inline="text">Rental Record for [[${customer}]]</h1>
      <table>
          <thead>
          <tr>
              <td>Title</td>
              <td>Amount</td>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td th:text="${rent.movie.title}"></td>
              <td th:text="${rent.amount}"></td>
          </tr>
          </tbody>
      </table>
      <h4 th:inline="text">Amount owed is [[${totals.totalAmount}]]</h4>
      <h4 th:inline="text">You earned [[${totals.frequentRenterTotal}]] frequent renter points</h4>
  </div>
</div>

</body>
</html>